{% extends 'baseUser.html.twig' %}
{% block head %}
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
              integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
              crossorigin="anonymous">

        <link href="{{ asset('assets/css/dashboard.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('assets/css/exercice.css') }}">

    {% endblock %}

{% endblock %}

{% block body %}
    <h2><strong>Espace entrainements</strong></h2><br>
    {% for exercice in exercices %}
        <div class="cont">
            <div class="polaroid">
                <img src="{{ exercice.gif }}" alt="{{ exercice.name }}" class="image" style="width:100%">
                <div class="container">
                    <p>{{ exercice.name }}</p>
                </div>
                <div class="middle">
                    <a href="{{ path('exo', {'slug': exercice.name}) }}">
                        <button class="btn">plus des détails</button>
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
