{% extends 'base.html.twig' %}
{% block title %}Welcome!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}" >
{% endblock %}


{% block body %}
    <h1>Bienvenue dans le site App Sport</h1>
    <hr><hr>
    {% for row in exercices|batch(2) %}
        <div class="row">
            {% for exercice in row %}
                <div class="col-md-6">
                    <div class="cont">
                        <div class="polaroid">
                            <img src="{{ exercice.gif }}" alt="{{ exercice.name }}" class="image" style="width:100%">
                            <div class="container">
                                <p>{{ exercice.name }}</p>
                            </div>
                            <div class="middle">
                                <a href="{{ path("Login") }}">
                                    <button class="btn">plus des détails</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}

{% endblock %}