{% extends 'baseUser.html.twig' %}

{% block head %}
    <meta charset="UTF-8">
    <title>{% block title %}Profil{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
              integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
              crossorigin="anonymous">

        <link href="{{ asset('assets/css/dashboard.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('assets/css/profil.css') }}">

    {% endblock %}

{% endblock %}

{% block body %}
    <h2>Bienvenue {{ profils.name }}
        <span>
    {% if  profils.sex %}
        <img src="assets/img/man.png" class="float-right" alt="man icon" width="60px" height="60px">
    {% endif %}
            {% if  profils.sex == false %}
                <img src="assets/img/girl.png" class="float-right" alt="girl icon" width="60px" height="60px">
            {% endif %}
    </span>
    </h2>
    <br><br>

    <table class="table">
        <tbody>
        <tr>
            <td>Votre Prenom</td>
            <td><h4>{{ profils.name }}</h4></td>
        </tr>
        <tr>
            <td> Votre Nom</td>
            <td><h4>{{ profils.lastname }}</h4></td>
        </tr>
        <tr>
            <td> Votre poids</td>
            <td><h4>{{ profils.weight }} Kg</h4></td>
        </tr>
        <tr>
            <td>Votre taille</td>
            <td><h4>{{ profils.height }} Cm</h4></td>
        </tr>
        </tbody>
    </table>
    <a href="{{ path('edit') }}">
        <button type="submit"> Modifier votre poid</button>
    </a>
{% endblock %}